
<%= debug params %>

  <dl id ="zip_info">
    <dd><%= @as %></dd>
    <%= render text: @city.inspect %></dd>
 
  </dl>




<ul>
<% @ds.each do |driver| %>
  
  <li> <%= driver.first_name %> </li>

<% end %>
</ul>
